/* ./src/components/LoginBackground/LoginBackground.css */

.login-background {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(to bottom, #142049 0%, #848484 50%, #FFDF9E 100%);
}

.login-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: -1;
}
